@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'roboto';
}

header{
    position: relative;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-content: center;
}

.home {
    width: 300px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.shop {
    width: 300px;
}

.shop ul li {
    width: 120px;
    text-align: center;
    text-decoration: none;
}

#Statements {
    margin: 20px, 300px, 20px, 300px;
    padding: 20px;
}
#Statements h1 {
    font-size: 36px;
    text-align: center;
}

.objective {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.objective h2 {
    font-size: 24px;
}

.objective p {
    font-size: 16px;
    color: #747474;
}

.instructions {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.instructions h2 {
    font-size: 24px;
}

.instructions ol {
    font-size: 16px;
    color: #747474;
}

#Our_Products {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.product-grid {
    display: flex;
    justify-content: space-around;
}

.product-grid img {
    height: 250px;
    max-width: 300px;
    border-radius: 400px;
}

.addCart-btn {
    display: flex;
    justify-content: space-between;
}
